In [4]:
import pandas as pd
df = pd.read_csv('q1.csv')
df.head()

   Unnamed: 0 Postcode      Borough                         Neighbourhood
0           0      M1B  Scarborough                         Rouge,Malvern
1           1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2           2      M1E  Scarborough       Guildwood,Morningside,West Hill
3           3      M1G  Scarborough                                Woburn
4           4      M1H  Scarborough                             Cedarbrae

In [8]:
pip install geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
    100% |████████████████████████████████| 102kB 205kB/s a 0:00:01
Requirement already satisfied: future in ./anaconda3/lib/python3.7/site-packages (from geocoder) (0.17.1)
Requirement already satisfied: click in ./anaconda3/lib/python3.7/site-packages (from geocoder) (7.0)
Collecting ratelim (from geocoder)
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: requests in ./anaconda3/lib/python3.7/site-packages (from geocoder) (2.21.0)
Requirement already satisfied: six in ./anaconda3/lib/python3.7/site-packages (from geocoder) (1.12.0)
Requirement already satisfied: decorator in ./anaconda3/lib/python3.7/site-packages (from ratelim->geocoder) (4.4.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in ./anaconda3/lib/python3.7/site-packages (from requests->geocoder) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in ./anaconda3/lib/python3.7/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in ./anaconda3/lib/python3.7/site-packages (from requests->geocoder) (2019.3.9)
Requirement already satisfied: idna<2.9,>=2.5 in ./anaconda3/lib/python3.7/site-packages (from requests->geocoder) (2.8)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6
Note: you may need to restart the kernel to use updated packages.

In [9]:
import geocoder

In [10]:
def get_latlng(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    return lat_lng_coords

In [15]:
postal_codes = df['Postcode']    
coords = [ get_latlng(postal_code) for postal_code in postal_codes.tolist() ]

In [16]:
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_coords['Latitude']
df['Longitude'] = df_coords['Longitude']
df.head()

,Unnamed: 0,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,0,M1B,Scarborough,"Rouge,Malvern",43.811525,-79.195517
1,1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.785730,-79.158750
2,2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.765690,-79.175256
3,3,M1G,Scarborough,Woburn,43.768359,-79.217590
4,4,M1H,Scarborough,Cedarbrae,43.769688,-79.239440

In [19]:
df.drop('Unnamed: 0',axis=1,inplace=True)
df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.811525,-79.195517
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.785730,-79.158750
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.765690,-79.175256
3,M1G,Scarborough,Woburn,43.768359,-79.217590
4,M1H,Scarborough,Cedarbrae,43.769688,-79.239440

In [21]:
df.to_csv('task2.csv', index=False)